@import url("https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Forum&family=Radley:ital@0;1&family=Tenor+Sans&display=swap");

:root {
  --dark: #191919;
  --brown: #523e27;
  --light_brown: #9b4819;
  --dark_yellow: #a87008;
  --light_yellow: #bd8f53;
  --cream: #e8cfc1;
  --light_cream: #f4f1e8;
}

body {
  margin: 0;
  padding: 0;
}

section#home_page_section {
  background-color: var(--cream);
  color: var(--brown);
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section#home_page_section svg#logoMP {
  width: 75px;
  border-radius: 50%;
}

#logoMP path {
  /* fill: transparent !important; On cache le fill initial */
  stroke: #523e27;
  stroke-width: 2;
}

svg path {
  will-change: fill;
}

section#home_page_section h1 {
  font-size: 75px;
  margin-bottom: 20px;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 100;
}

section#home_page_section h2 {
  font-family: "Forum Sans", cursive;
  font-weight: 100;
  font-size: 30px;
}

section#home_page_section div {
  font-family: "Forum Sans", cursive; /* Applique la police Forum Sans en cursif */
  font-weight: 100; /* Définit un poids très fin pour le texte */
  font-size: 25px; /* Définit une taille de police de 25px */
  position: absolute; /* Place l'élément de manière absolue par rapport à son parent positionné */
  bottom: 15px; /* Positionne l'élément à 15px du bas de son parent */
  left: 50%; /* Centre horizontalement l'élément par rapport au parent */
  transform: translateX(
    -50%
  ); /* Recentre l'élément en décalant de -50% de sa propre largeur */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

svg {
  overflow: visible;
}

path {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

#logoMP {
  position: absolute; /* Positionner le logo fixe pour qu'il soit toujours visible */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1000; /* Le logo sera toujours au-dessus des autres éléments */
}

section#showcase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--light_brown);
}

section#showcase .gridElement {
  display: flex;
  align-items: center;
  justify-content: center;
}

section#about_me {
  background-color: var(--light_cream);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-basis: 100%;
  grid-template-columns: 2fr 1fr;
  height: 100dvh;
  overflow: hidden;
}

section#about_me img {
  width: 400px;
  margin-top: 120px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  margin-bottom: 100px;
  object-fit: cover;
  height: 600px;
}

section#about_me .imageContainer {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section#about_me .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0px 50px;
}

section#about_me .text h4 {
  font-family: "Radley", Arial, Helvetica, sans-serif;
  color: var(--light_brown);
  font-size: 50px;
  font-style: italic;
}

section#about_me .text p {
  font-family: "Carlito", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  padding: 0 50px;
  text-align: center;
}

section#passions {
  background-color: var(--light_cream);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  flex-direction: column;
}

section#passions h4 {
  font-family: "Radley", Arial, Helvetica, sans-serif;
  color: var(--light_brown);
  font-size: 50px;
  font-style: italic;
}

section#passions .container {
  display: flex;
  align-items: center;
  grid-gap: 50px;
}

section#passions .container img {
  width: 200px;
  margin: 20px;
}

section#passions .container h6 {
  font-family: "Radley", Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  text-align: center;
}

section#passions .container .item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section#passions .container .item .line {
  width: 100%;
  height: 2px;
  background-color: var(--light_brown);
  margin: 10px;
}
